@page "/faculty"
@inject NotificationService notificationService
@inject IBaseRepository<Faculty> facultyRepository
@inject IBaseRepository<Department> departmentRepository

@inject IJSRuntime JSRuntime
@inject DialogService dialogService
@inject TooltipService TooltipService
@inject ContextMenuService ContextMenuService
@inject NavigationManager NavigationManager
@using StudentInfo.Interfaces.IRepositories
@using StudentInfo.Interfaces.IServices
@using StudentInfo.Model
@using StudentInfo.Repositories
@using StudentInfo.Pages.Faculty
@using Microsoft.AspNetCore.Components.Web
<PageTitle>Faculties</PageTitle>
<RadzenStack>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenText Text="Faculties" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" />
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn SizeMD=12>
            <RadzenDataGrid @ref="grid0" ColumnWidth="200px" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                            Data="@faculties" TItem="Faculty" RowSelect="@EditRow">
                <Columns>
                    <RadzenDataGridColumn TItem="Faculty" Property="FacultyId" Title="Faculty Id">
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Faculty" Property="Name" Title="Name" Width="200px" TextAlign="TextAlign.Left">
                        <Template Context="faculty">
                            <div class="wrap-text">@faculty.Name</div>
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Faculty" Title="Department" Sortable="false" Filterable="false" Width="300px">
                        <Template Context="faculty">
                            <RadzenListBox @bind-Value="@selectedDepartment" Data="@GetDepartmentsForFaculty(faculty.FacultyId)" TextProperty="Name" ValueProperty="Name" 
                                           Style="width: 100%; max-height: 100px; overflow-y: auto; white-space: normal; word-wrap: break-word; white-space]"
                                           InputAttributes="@(new Dictionary<string, object>(){ { "aria-label", "select department" }})">
                                <Template Context="listBoxContext">
                                    <div style="display: flex; align-items: flex-start;">
                                        <RadzenIcon Icon="label" style="margin-right: 5px;" />
                                        @((listBoxContext as Department).Name)
                                    </div>
                                </Template>
                            </RadzenListBox>
                        </Template>
                    </RadzenDataGridColumn>


                    <RadzenDataGridColumn TItem="Faculty" Property="Note" Title="Note" Width="200px" TextAlign="TextAlign.Left">
                        <Template Context="faculty">
                            <div class="wrap-text" style="overflow:auto; max-height:100px;">@faculty.Note</div>
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Faculty" Filterable="false" Sortable="false" Width="150px" TextAlign="TextAlign.Center">
                        <Template Context="faculty">
                            <RadzenButton ButtonStyle="ButtonStyle.Warning" Icon="edit" Size="ButtonSize.Medium"
                                          Shade="Shade.Lighter" Variant="Variant.Flat"
                                          Click="@((args) => EditRow(faculty))" @onclick:stopPropagation="true" />
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                          Shade="Shade.Lighter" Variant="Variant.Flat"
                                          Click="@((args) => GridDeleteFacultyButtonClick(args, faculty))" @onclick:stopPropagation="true" />
                            <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="open_in_browser" Size="ButtonSize.Medium"
                                          Shade="Shade.Lighter" Variant="Variant.Flat"
                                          Click="@((args) => OpenPotap(faculty))" @onclick:stopPropagation="true" />
                        </Template>

                    </RadzenDataGridColumn>
                </Columns>

            </RadzenDataGrid>

        </RadzenColumn>
    </RadzenRow>
</RadzenStack>



@code {

    protected List<Faculty> faculties;
    protected RadzenDataGrid<Faculty> grid0;
    private List<Department> departments;
    private string selectedDepartment;


    private void RefreshTable()
    {

        faculties = facultyRepository.GetAllElements().ToList();
        departments = departmentRepository.GetAllElements().ToList();
        // departments = departmentRepository.GetAllElements().Where(dep => dep.FacultyId == Fa).ToList();
        StateHasChanged();
    }
    private void RefreshDepartmant()
    {
        departments = departmentRepository.GetAllElements().ToList();
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        RefreshTable();
        faculties = facultyRepository.GetAllElements().ToList();
        departments = departmentRepository.GetAllElements().ToList();
    }

    protected async Task AddButtonClick(MouseEventArgs args)
    {
        await dialogService.OpenAsync("Add Faculty", ds => @<CreateFaculty/>, 
        new DialogOptions() { Width = "400px", Height = "400px", Resizable = false, Draggable = false });
        await grid0.Reload();
        RefreshTable();
        //RefreshDepartmant();
    }

    protected async Task EditRow(object args)
    {
        if (args is Faculty faculty)
        {
            await dialogService.OpenAsync("Edit Faculty", ds => @<EditFaculty  Id="faculty.FacultyId" />,
            new DialogOptions() { Width = "400px", Height = "400px", Resizable = false, Draggable = false });
            RefreshTable();
        }
    }

    protected async Task GridDeleteFacultyButtonClick(object args, Faculty faculty)
    {
        try
        {
            if (await dialogService.Confirm("Are you sure you want to delete this record?") == true)
            {
                var deleteResult = facultyRepository.DeleteElement(faculty.FacultyId);

               if (deleteResult != null)
               {
                    RefreshTable();
                }
            }
        }
        catch (Exception ex)
        {
            notificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = $"Error",
                    Detail = $"Unable to delete Faculty"
                });
        }
    }

    
    
    //------------------------------------------------------------------------------
    

    private List<Department> GetDepartmentsForFaculty(int facultyId)
    {
        return departments.Where(d => d.FacultyId == facultyId).ToList();
    }
    private async Task OpenPotap(Faculty faculty)
    {
        await dialogService.OpenAsync("Open popap", ds => @<OpenPopupGPA FacultyId="faculty.FacultyId" />,
        new DialogOptions() { Width = "400px", Height = "400px", Resizable = false, Draggable = false });
        await grid0.Reload();

    }
}

